body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
overflow: hidden;
  z-index: 9999;
}

.agendamento-card {
  width: 400px;
  padding: 30px 25px;
  border-radius: 12px;
  background: linear-gradient(150deg, #04090D, #D9C7B8);
  box-shadow: 0 10px 30px rgba(4, 9, 13, 0.5), 0 4px 15px rgba(4, 9, 13, 0.3);
  color: #D9C7B8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  overflow: hidden;
}

.agendamento-card h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  color: #BF925A;
}

.card-wrapper {
  perspective: 1000px;
}

.card {
  width: 400px;
   min-height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.card-face.back {
  transform: rotateY(180deg);
}

.agendamento-card {
  backface-visibility: hidden;
}

.input-group {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #BF925A;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  border: 2px solid #BF925A;
  background: transparent;
  color: #D9C7B8;
  font-size: 15px;
  box-sizing: border-box;
}

.input-with-icon input::placeholder {
  color: rgba(217, 199, 184, 0.5);
}

.icon-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  filter: brightness(0) invert(1);
  cursor: pointer;
}

.agendar-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  background-color: #BF925A;
  font-weight: bold;
  color: #04090D;
  cursor: pointer;
  transition: 0.3s;
}

.agendar-btn:hover {
  background-color: #8C442A;
}

.reagendar-btn {

  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border-radius: 20px;
  border: none;

  background-color: #BF925A;

  font-weight: bold;
  color: #04090D;

  cursor: pointer;
  transition: 0.3s;
}

.reagendar-btn:hover {
  background-color: #8C442A;
}

.input-with-icon select {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  border: 2px solid #BF925A;
  background: transparent;
  color: #D9C7B8;
  font-size: 15px;
  box-sizing: border-box;
  appearance: none;
}

.input-with-icon select option {
  color: #04090D;
}

.select-barbeiro {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 20px;
  border: 2px solid #BF925A;
  background: transparent;
  color: #D9C7B8;
  font-size: 15px;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;

  /* seta */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23D9C7B8' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.select-barbeiro option {
  color: #04090D;
}

/* Para inputs de data e hora */
input[type="date"],
input[type="time"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  background: transparent;
  color: #D9C7B8;
  border: 2px solid #BF925A;
  border-radius: 20px;
  padding: 10px 40px 10px 10px;
  font-size: 15px;
}

/* Remove o ícone de calendário do IE/Edge */
input[type="date"]::-ms-clear,
input[type="date"]::-ms-expand,
input[type="time"]::-ms-clear,
input[type="time"]::-ms-expand {
  display: none;
}

/* Remove os ícones nativos no Chrome/Safari */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Icone voltar */
.back-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.back-icon:hover {
  filter: brightness(1) invert(0);
}

/* Garante que o close fique sempre na direita */
.close-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.close-icon:hover {
  filter: brightness(1) invert(0);
}