html, body{
  margin:0;
  padding:0;
  min-height:100%;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-prata: 'Prata', serif;
}

body{
  background:
    radial-gradient(circle at top, #d9c7b862, transparent 50%),
    linear-gradient(
      180deg,
      #3a3a3a 0%,
      #202020 30%,
      #09080c 100%
    );

  background-attachment: fixed;
}

/*******************************************************
AJUSTES DO NAVEGADOR
*******************************************************/

/* Remover olhinho de senha do navegador */
input::-webkit-credentials-auto-fill-button,
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}